body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f4f6f9;
}

/* Layout */
.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 70px;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}

.icon {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.icon.active {
  background: #e6f0ff;
}

/* Main */
.main {
  flex: 1;
  padding: 20px 30px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  background: #ddd;
  padding: 10px;
  border-radius: 50%;
}

/* Welcome */
.welcome {
  margin: 20px 0;
}

/* Content */
.content {
  display: flex;
  gap: 20px;
}

/* Left */
.left {
  flex: 2;
}

/* Event Card */
.event-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.event-left .date {
  background: #ff7a18;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.event-middle {
  flex: 1;
  margin-left: 15px;
}

.avatars span {
  background: #ddd;
  border-radius: 50%;
  padding: 6px;
  margin-right: 5px;
  font-size: 12px;
}

/* Right */
.event-right {
  text-align: right;
}

.status {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.green {
  background: #d4f8e8;
}

.blue {
  background: #d6e4ff;
}

/* Right panel */
.right {
  flex: 1;
}

.add-btn {
  width: 100%;
  padding: 12px;
  background: #ff7a18;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Box */
.box {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
}

.reminder, .pending {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.reminder button {
  background: #2d7df6;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
}