/* Background */
.signup-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #1e293b);
  font-family: "Segoe UI", sans-serif;
}

/* Glass Card */
.signup-box {
  width: 360px;
  padding: 40px 30px;
  border-radius: 18px;

  background: rgba(209, 232, 255, 0.08);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(209, 232, 255, 0.2);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Heading */
.signup-box h2 {
  color: #F8F3EA;
  margin-bottom: 5px;
}

.signup-subtext {
  color: #9ECCFA;
  font-size: 14px;
  margin-bottom: 25px;
}

/* Input group */
.signup-group {
  position: relative;
  margin-bottom: 15px;
}

.signup-group input {
  width: 100%;
  padding: 12px 6px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.08);
  color: #F8F3EA;
}

/* Label */
.signup-group label {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #9ECCFA;
  font-size: 14px;
  transition: 0.3s;
  pointer-events: none;
}

/* Floating label */
.signup-group input:focus + label,
.signup-group input:valid + label {
  top: -8px;
  font-size: 11px;
  color: #D1E8FF;
}

/* Focus glow */
.signup-group input:focus {
  box-shadow: 0 0 8px #9ECCFA;
}

/* Button*/
.signup-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;

  background: linear-gradient(90deg, #9ECCFA, #38bdf8);
  color: #0B1957;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.signup-btn:hover {
  background: linear-gradient(90deg, #38bdf8, #0ea5e9);
}

/* Footer */
.signup-footer {
  margin-top: 18px;
  color: #9ECCFA;
  font-size: 13px;
}

.signup-footer span {
  color: #F8F3EA;
  cursor: pointer;
}

/* Messages */
.warning {
  color: #facc15;
  font-size: 12px;
  text-align: left;
}

.error {
  color: #ef4444;
  font-size: 12px;
  text-align: left;
}

.hint {
  color: #9ECCFA;
  font-size: 11px;
  text-align: left;
}